
$var title: About Us

      <!-- script for the slide panel -->
      <script>
             jQuery(function () {
                jQuery('.showSingle').click(function () {
                    var index = jQuery(this).parent().index(),
                        newTarget = jQuery('.targetDiv').eq(index);
                    jQuery('.targetDiv').not(newTarget).slideUp('fast')
                    newTarget.delay('fast').slideToggle('fast')
                    return false;
                })
            });
      </script>

      <style> 

        

        p {
            text-align: center;
            font-family: "Helvetica-Light";
        }
  

        .info-text {
            font-size: 20;
        }

        .content h1 {
          font-family: "Helvetica-Light";
          font-size: 60;
          text-align: center;
        }

      
        /* flip panels */

        .targetDiv {
          display: none;
          padding: 0px 5px 0px 5px;
        }

        .targetDiv p {
          font-size: 20px;
        }
        .targetDiv.first {
          display: block;
          padding: 5px;
        }

        .container .row a {
          text-decoration: none; 
        }

        .container .row .col-sm-3 img {
          height: 25%;
          width: 100%;
        }

        .showSingle {
          font-size: 20;
          text-align: center;
        }

        #about {
          font-size: 40px;
        }

      </style>


      <div class="container">
        <div class="jumbotron">
          <div class="content">
              <h1>Our Story</h1>
             <br>
                  <p class="info-text">
                      We are Team 1 from CS 411 at Boston University. 

                      <br><br>
                      We give everyone the opportunity to invest as little as $100 in startups. We aim to turbo-charge GDP growth and decrease disparity of wealth. The percentage of under 30 year olds owning a private company has fallen from 10.6% in 1989 to 3.6% in 2014. Our goal is to bring it back to 1989 levels within 5 years. We'll democratize investing so that everyone has access to high-growth startups, not just the wealthy and well-connected. We'll also fund more legitimate businesses, from tech startups to local coffee shops.

                      
                  </p>

                  <br> <br>

                 
                  <h1 id="about"> About Our Team </h1>

                  <br> <br>
                  <!-- flip panel using jquery -->
                  <div class="container">
                   <div class="row">
                      <div class="col-sm-3"> 
                        <a class="showSingle" target="1" id="pauline">Pauline Ramirez</a>
                          <div id="div1" class="targetDiv">
                            <p> Hello! I'm Pauline and I'm currently studying Computer Science at Boston University. Also I really, really like cats. Makeup is pretty cool too. </p>
                          </div>
                        </div>

                      <div class="col-sm-3"> 
                        <a class="showSingle" target="2" id="hanson">Hanson Duan</a>
                          <div id="div2" class="targetDiv">
                            <p>Hi I'm Hanson and I'm a second year student in Computer Science at BU. </p>
                            </div>
                        </div>

                      <div class="col-sm-3"> 
                        <a class="showSingle" target="3" id="david">David Wang</a>
                          <div id="div3" class="targetDiv">
                            <p>I'm David and Pauline thinks I look like Glenn from Walking Dead.</p>
                            </div>
                        </div>

                      <div class="col-sm-3"> 
                        <a class="showSingle" target="4" id="ash">Ash Melwani</a>
                          <div id="div4" class="targetDiv">
                              *screeches angrily*
                              <img src="http://i1-news.softpedia-static.com/images/news2/Woman-Disfigured-in-Chimp-Attack-Gets-4M-Settlement-2.jpg">
                          </div>
                        </div>
                  </div>
                </div>


                
    
                
          </div>
        </div>
      </div>


