<html>
<head>Request Funding
	<title> Apply for funding </title>
</head>
<body> 
Apply for funding on this page


<form id="login_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="text">Username:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="password">Password:</label><br />
		<input id="password" class="input" name="password" type="text" value="" size="30" /><br />
	</div>

	<input id="submit_button" type="submit" value="Log In" />
</form>			

</body>
</html>
