
<!--
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <title>FAQ Page </title>
    
    <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/coming-sssoon.css" rel="stylesheet" />    
    

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://FAQfonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  
</head>

-->

$var title: FAQ

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="custom.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<!--    Change the image source '/images/default.jpg' with your favourite image.     -->
    
    <div class="cover black" data-color="black"></div>
     
<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            FAQ
        </h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
        
        <div class="content">
            <h4 class="motto"> Why Invest In Startups?<//h4>
            <div class="subscribe">
                <br> <br>
                <h7 class="info-text">
                    It shouldn't be to make bundles of risk-free money! This isn't real estate or the stock market. Startups are much riskier. Everyone has their personal motivations for investing in startups, but ours is to support entrepreneurs that we believe in, pursuing a vision we care about, with a good chance of earning a return should that vision transform into reality.
                </h7>
                <h3 class= "motto" > Is Start-Up Investing Appropriate For Me?<//h3>
                <br> <br>
                <h7 class = "info-text";>
                    
                    
                    If you can't afford to lose every dollar you invest on Risk-Biscuit, the answer is no. If you can't afford to wait 7+ years for a return, the answer is also no.
                </h7>
                
                <br> <br>
                
                <h7 class = "info-text";>
                You might have a strong belief in the future success of a company. But it's safer to think of your investment more like a lottery ticket that might pay off in the very long term.
                </h7>
                
                 <br> <br>
                
                <h7 class = "info-text";>
                Unlike the stock market, investment outcomes are much more binary (complete failure or wild success) and there's no stock market that'll allow you to easily re-sell your investment stake to someone else, unless the company is acquired or prepares for an IPO.
                </h7>
                
                    
       
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                        <form class="form-inline" role="form">
                          <div class="form-group">
                            
                          </div>
                         
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="container">
             Made by Team 1 @ BU - CS 411</a>
      </div>
    </div>
 </div>
