<!DOCTYPE html>
<html>
<head>
    <!--#include file="header.html"-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   
    </head>
<body>

    
            <header class="container" id="SITE_HEADER" >
            <a id="comp-ih0ys62j"  href="http://amelwani9.wix.com/risk-biscuit#!apply-for-funding/hejo5"  target="_self"  class="Button">Apply for Funding</a>

            <div id="SITE_STRUCTURE_WRichText_0" class="Text">
    <h1 style="line-height: 1.1em; font-size: 47px;" class="font_0"><span style="font-weight:bold;"><span style="font-size:47px;"><span style="line-height:1.1em;"><span style="letter-spacing:0.05em;"><a href="http://amelwani9.wix.com/risk-biscuit" target="_self"><span style="font-family:brandon-grot-w01-light,sans-serif;">RISK BISCUIT</span></a></span></span></span></span></h1>

</div>


            <nav>
    <ul id="DrpDwnMn0" class="menu">
                <li class="menuItem">
    <a id="dataItem-ifz42iwl1" href="http://amelwani9.wix.com/risk-biscuit" target="_self" title="HOME" class="menuItemHref">HOME</a>
    </li>

                <li class="menuItem">
    <a id="pl1pu" href="http://amelwani9.wix.com/risk-biscuit#!about/c1n8o" target="_self" title="ABOUT" class="menuItemHref">ABOUT</a>
    </li>

                <li class="menuItem">
    <a id="dataItem-ify1sghd1" href="http://amelwani9.wix.com/risk-biscuit#!start-ups/ciugb" target="_self" title="START-UPS" class="menuItemHref">START-UPS</a>
    </li>

                <li class="menuItem">
    <a id="dataItem-ih0z68u61" href="http://amelwani9.wix.com/risk-biscuit#!faq/a7u5x" target="_self" title="FAQ" class="menuItemHref">FAQ</a>
    </li>

            </ul>
</nav>

    </header>



    </section>

            <div id="comp-ih0za37w" class="Text">
    <h2 style="font-size: 36px;" class="font_2"><span style="font-size:36px;"><span style="font-family:stencil-w01-bold,fantasy;">Why invest in startups</span></span></h2>

</div>


            <div id="comp-ih0zap6n" class="Text">
    <h2 style="font-size: 26px;" class="font_2"><span style="font-family:open sans condensed,sans-serif;">It shouldn't be to make bundles of risk-free money! This isn't real estate or the stock market. Startups are much riskier. Everyone has their personal motivations for investing in startups, but ours is to support entrepreneurs that we believe in, pursuing a vision we care about, with a good chance of earning a return should that vision transform into reality.</span></h2>

</div>


            <div id="comp-ih0zd27i" class="Text">
    <h2 style="font-size: 36px;" class="font_2"><span style="font-size:36px;"><span style="font-family:stencil-w01-bold,fantasy;">Is start-up investing appropriate for me</span></span></h2>

</div>


            <div id="comp-ih0zf5q9" class="Text">
    <p style="font-size: 26px;" class="font_7"><span style="font-size:26px;"><span style="font-family:open sans condensed,sans-serif;">If you can't afford to lose every dollar you invest on Wefunder, the answer is no. If you can't afford to wait 7+ years for a return, the answer is also no.</span></span></p>

<p style="font-size: 26px;" class="font_7"> </p>

<p style="font-size: 26px;" class="font_7"><span style="font-size:26px;"><span style="font-family:open sans condensed,sans-serif;">You might have a strong belief in the future success of a company. But it's safer to think of your investment more like a lottery ticket that might pay off in the very long term.</span></span></p>

<p style="font-size: 26px;" class="font_7"> </p>

<p style="font-size: 26px;" class="font_7"><span style="font-size:26px;"><span style="font-family:open sans condensed,sans-serif;">Unlike the stock market, investment outcomes are much more binary (complete failure or wild success) and there's no stock market that'll allow you to easily re-sell your investment stake to someone else, unless the company is acquired or prepares for an IPO.</span></span></p>

</div>


    </section>

    </section>
<footer class="container" id="SITE_FOOTER" >
            <section class="container" id="comp-ifz45048" >
            <div id="comp-ifz49xxp" class="Text">
    <h4 style="line-height: 1.1em;" class="font_4"><span class="color_11"><span style="letter-spacing:0.05em;"><span style="line-height:1.1em;">CONTACT US</span></span></span></h4>

</div>


            <div id="comp-ifz49xxm" class="Text">
    <p style="line-height: 1.5em; font-size: 22px;" class="font_7"><span style="text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;"><span style="font-size:22px;"><span style="font-weight:bold;"><span class="color_2">73 Thatcher St,</span></span></span></span></p>

<p style="line-height: 1.5em; font-size: 22px;" class="font_7"><span style="text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;"><span style="font-size:22px;"><span style="font-weight:bold;"><span class="color_2">Brookline - 02446 - MA</span></span></span></span></p>

<p style="line-height: 1.5em; font-size: 22px;" class="font_7"> </p>

<p style="line-height: 1.5em; font-size: 22px;" class="font_7"><span style="text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;"><span style="font-size:22px;"><span style="font-weight:bold;"><span class="color_2"><span style="line-height:1.5em;">Tel: (424) 239-4706</span></span></span></span></span></p>

<p style="line-height: 1.5em;" class="font_7"><span style="text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;"><span style="font-size:22px;"><span style="font-weight:bold;"><span class="color_2"><span style="line-height:1.5em;">amelwani9@gmail.com</span></span></span></span></span><span style="display: none;"> </span></p>




            <ul id="LnkBr0" class="SocialLinkBar">
    <li itemscope itemtype="http://schema.org/ImageObject" class="LinkBarItem">
    <a href="https://www.facebook.com/wix">
        <img src="https://static.wixstatic.com/media/d3470ec8ca26475da4b228f0199b5d3d.png" itemprop="contentURL" width="200" height="200"/>
    </a>
</li>

    <li itemscope itemtype="http://schema.org/ImageObject" class="LinkBarItem">
    <a href="https://twitter.com/wix">
        <img src="https://static.wixstatic.com/media/7177d158c36d432b93f51e54f80e2f3c.png" itemprop="contentURL" width="200" height="200"/>
    </a>
</li>

    <li itemscope itemtype="http://schema.org/ImageObject" class="LinkBarItem">
    <a href="https://www.linkedin.com/company/wix-com">
        <img src="https://static.wixstatic.com/media/22fa9ffe67ef4289a150e75a66ee4933.png" itemprop="contentURL" width="200" height="200"/>
    </a>
</li>

</ul>
    </footer>

    
</body>
</html>

