

$var title: FAQ
        
      <script>
        jQuery(document).ready(function(){
            jQuery(".flip").click(function(){
                jQuery(".panel").slideToggle("slow");
            });
        });
      </script>

      <style> 
        body  {
            background-image: url("http://greeknews.eu5.org/images/background/ambient/ambientturquoise.jpg");
        }

        p {
            text-align: center;
            font-family: "Helvetica-Light";
        }
        
        p.faqheading {
            font-size: 50;
            text-align: center;
        }

        p.question {
            font-size: 32;
        }

        p.info-text {
            font-size: 20;
        }

        /*
        CSS styling for the flip panel
        */
        .flip, .panel {
            text-align: center;
            padding: 5px;
        }

        .panel {
            padding: 50px;
            display: none;
        }

      </style>

    <div class="container">
        <div class="jumbotron">
                <div class="flip">
                    <p class="question"> Why Invest In Startups? </p>
                    <div class="panel">
                        <p class="info-text">
                        It shouldn't be to make bundles of risk-free money! This isn't real estate or the stock market. Startups are much riskier. Everyone has their personal motivations for investing in startups, but ours is to support entrepreneurs that we believe in, pursuing a vision we care about, with a good chance of earning a return should that vision transform into reality.
                        </p>
                    </div>
                </div>
                    
                <div class="flip">
                    <p class= "question"> Is Start-Up Investing Appropriate For Me?</p>
                    <div class="panel">
                        <p class = "info-text">
                        If you can't afford to lose every dollar you invest on Risk-Biscuit, the answer is no. If you can't afford to wait 7+ years for a return, the answer is also no.
                        </p>
                    
                        <p class = "info-text">
                        You might have a strong belief in the future success of a company. But it's safer to think of your investment more like a lottery ticket that might pay off in the very long term.
                        </p>
                    
                        <p class = "info-text">
                        Unlike the stock market, investment outcomes are much more binary (complete failure or wild success) and there's no stock market that'll allow you to easily re-sell your investment stake to someone else, unless the company is acquired or prepares for an IPO.
                        </p>
                    </div>
                </div>


                <div class="flip">
                    <p class="question"> Question 3 </p>
                    <div class="panel">
                        <p class="info-text">
                            Answer
                        </p>

                    </div>
                </div>

                <!-- ## END OF FAQ -->

            </div>
        </div>
   
             Made by Team 1 @ BU - CS 411

