$def with (ts)
$var title: Search results...

<style>
	.results {
		background-color: rgba(255, 255, 255, 0.25);
		width: 1000px;	
		height: 100%;
		margin-right: auto;
		margin-left: auto;
		padding: 5px 20px 5px 20px;
		border-radius: 20px;
	}

	.results p {
		left: 0;
	}

	.results ul {
		left: 0;
	}
</style>


<div class="results">

$if (ts):
	<br>
	<br>
	<br>
	<h3 class="wooh"><u><i>TRENDING TWEETS:</i></u></h3>
	$for row in ts:

	<br>
	<p><b>$row[1:]</b></p>	
$else:
	You shouldn't see this


</div>