$def with (content)

<html>
<font color="white" size = "10"> Risk It For the Biscuit </font>


<head>
<title>$content.title</title>

<!-- css and js -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="custom.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="FAQ"> FAQ </a></li>
        <li><a href="startups">Startups</a></li> 
        <li>
        	<form action ="/" method="POST">
					 <input type="text" name="tweets" placeholder="What do you want to search for?">
				<input type="submit">
			</form> </li>
      </ul>

       <ul class="nav navbar-nav navbar-right">
        <li><a href="applyforfunding"><span class="glyphicon glyphicon-log-in"></span> Apply for Funding</a></li>
      </ul>

    </div>
  </div>
</nav>


</head>

<body>
  $:content
</body>

</html>