


<!DOCTYPE html>
<html>
<head>
<title>API test</title>
</head>

<h1> Search for local startup trends.... </h1>

<form action ="/" method="POST">
	What do you want to search for? <input type="text" name="tweets">
	<br/>
	<input type="submit">
</form>
<form action="/" method="POST">
	<input type="submit" value="FAQ" name="FAQ">
	
</form>
<form action"/" method="POST">
	<input type="submit" value="About" name="about">
</form>
<form action="/" method="POST">
	<input type="submit" value="Startups" name="startups">
</form>

<form action="/" method="POST">
	<input type="submit" value="Home" name="home">
</form>
</body>
</html>



