$var title: Risk it for the biscuit
	  <!-- Move this CSS into another folder at some point -->

	  <style> 
	  	body  {
			background-image: url("http://greeknews.eu5.org/images/background/ambient/ambientturquoise.jpg");
		}

		#maincarousel .item img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
			display: block;
		}

		#maincarousel {
		    margin-left:auto;
		    margin-right:auto;
		    width:960px;
		    height: 600px;
		}

		.item h3, p {
			bottom: 0;

		}

	  </style>


	  <!-- ########## END OF CSS ########## -->



<div class="container">
  <div class="jumbotron">
    <h1>Find Local Startups</h1> 
    <p>Find local startups to either join or invest in. Use the search bar above to start! </p> 
	  <div id="maincarousel" class="carousel slide" data-ride="carousel">
		  <!-- items in the carousel -->
		  	<ol class="carousel-indicators">
				<li data-target="maincarousel" data-slide-to="0" class="active"></li>
				<li data-target="maincarousel" data-slide-to="1"></li>
				<li data-target="maincarousel" data-slide-to="2"></li>
			</ol>

		  	  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <img src="https://static.pexels.com/photos/1139/black-and-white-city-skyline-buildings.jpg" alt="city-skyline">
			      	 <div class="carousel-caption">
				        <h3>Search for Startups in Your Area</h3>
				     </div>
			    </div>

			    <div class="item">
			      <img src="http://www.joinunitiques.com/UNItiques_Logo.png" alt="feat-startup1">
			      	 <div class="carousel-caption" id="unitiques">
				        <h3>Unitiques</h3>
				        <p>A startup based out of Boston University where students can buy and sell clothes.</p>
				     </div>
			    </div>

			    <div class="item">
			      <img src="https://freepblog.files.wordpress.com/2013/02/feb13_spotlight2_heathergoldin_web.jpeg" alt="Flower">
			      	<div class="carousel-caption">
				        <h3>featured startup numero 3</h3>
				        <p>hello hi hello cupcakes</p>
				     </div>
			    </div>
			  </div>
			  <!-- ############################## END OF SLIDES ############################## -->

				  <!-- arrows for left & right -->
				  <a class="left carousel-control" href="#maincarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#maincarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>

		</div>

		<!-- ############################## END OF CAROUSEL ############################## -->		
  </div>

  <!-- ############################## END OF JUMBOTRON ############################## -->
 

		  <p>Created by Team 1 in CS 411</p> 
</div>

<!-- ############################## END OF CONTAINER ############################## -->







