<html>
<head>
	<title>Startups</title>
		  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	we wil put starutps here or something idk
	<!--David's Code
	$def with (startupsTable)
	<ul>
	$for row in startupsTable:
		<li id="t$row.id">$row.startup_name</li>
		<li id="t$row.id">$row.startup_money</li>
		<li id="t$row.id">$row.startup_url</li>
		<li id="t$row.id">$row.startup_stage</li>
		<li id="t$row.id">$startup_description</li>
	</ul>
	-->
</body>
